<p style="color: green"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <% if @user.ratings.count == 0 %>
    User has not rated any beers!
  <% else %>
    Has made <%= pluralize(@user.ratings.count, 'rating') %> with an average of <%= @user.average_rating %>
  <% end %>
</p>

<p>
  <strong>Ratings</strong>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li><%= "#{rating.to_s}" %>
        <%= link_to "Delete", rating, data: {turbo_method: :delete} %>
      </li>
    <% end %>
  </ul>
</p>

<hr>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
