<div id="<%= dom_id rating %>">

  <% if !rating.beer.nil? %>
    <%= rating.beer %> <%= rating.score %>
    <%= link_to rating.user.username, user_path(rating.user.id) %>
  <% end %>

  <%= rating.most_active_users %>

</div>