<div id="<%= dom_id beer %>">
  <p>
    <strong>Name:</strong>
    <%= link_to beer.name, beer %> <br>

    <strong>Style:</strong>
    <%= beer.style %> <br>

    <strong>Brewery:</strong>
    <% if beer.brewery.nil? %>
      no brewery
    <% else %>
      <%= link_to beer.brewery.name, beer.brewery %>
    <% end %> <br>
    
    <% if beer.ratings.empty? %>
      Beer has not yet been rated!
    <% else %>
      Beer has <%= pluralize(beer.ratings.count, 'rating') %> with an average of <%= beer.average_rating %>
    <% end %>
  </p>

</div>