<div id="<%= dom_id beerclub %>">
  <p>
    <strong>Name:</strong>
    <%= beerclub.name %>
    <br>
    <strong>Founded:</strong>
    <%= beerclub.founded %>
    <br>
    <strong>City:</strong>
    <%= beerclub.city %>
    <br>
    <strong>Members</strong>
    <ul>
      <% @memberships.each do |mem| %>
        <% if beerclub.id == mem.beer_club_id %>
          <% @users.each do |user| %>
            <% if mem.user_id == user.id %>
              <li><%= user.username %></li>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </p>

</div>
