<h2>Club</h2>

<%= render @beerclub %>

<% if current_user %>
  <% if @jasenen_klubi_idt.include?(@beerclub.id) %>
    You are a member of this beer club<br>
    <%= form_with(model: @membership, method: :delete) do |form| %>
      <%= form.hidden_field :beer_club_id, value: @beerclub.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "End this membership", class:"btn btn-danger" %>
    <% end %>
  <% else %>
    <%= form_with(model: @membership) do |form| %>
      <%= form.hidden_field :beer_club_id, value: @beerclub.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "Join this beer club", class:"btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>

<br>
<div>
  <%= link_to("Edit this beerclub", edit_beerclub_path(@beerclub)) if current_user %> |
  <%= link_to "Back to beerclubs", beerclubs_path %>
  <% if !current_user.nil? %>
    <% if current_user.admin == true %>
      <%= button_to("Destroy this beerclub", @beerclub, method: :delete, class:"btn btn-danger") if current_user %>
    <% end %>
  <% end %>
</div>
