<p>
  <% session[:vika_haku].each do |rafla| %>
    <% if rafla["table"]["id"] == params["id"] %>
      <h4> <%= rafla["table"]["name"] %> </h4> <br>
      <p> <%= rafla["table"]["status"] %> </p>
      <p> <%= rafla["table"]["street"] %> </p>
      <p> <%= rafla["table"]["zip"] %> <%= rafla["table"]["city"] %> </p>
    <% end %>
  <% end %>
</p>
